/* general styles */
html,
body,
header,
footer,
hgroup,
nav,
article,
section,
figure,
figcaption,
h1,
h2,
h3,
ul,
li,
body,
div,
p,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* table style */
table {
  margin: 15px;
  width: calc(100% - 30px);
  border-collapse: collapse;
}

table th {
  color: gray;
  padding: 12px 0;
  height: 40px;
  background-color: #ededed;
}

table tr {
  border-bottom: 2px solid #ededed;
}

table td {
  padding: 0.75em 0;
}

table th:nth-child(1),
table td:nth-child(1) {
  padding-left: 24px;
  text-align: center;
}
table .team {
  text-align: left;
  width: 250px;
}

table th:nth-child(n + 3),
table td:nth-child(n + 3) {
  text-align: center;
}
